# ---- Build ----------------------------------------------------------------
bin/
obj/
publish/
*.user

# ---- Sonstiges ------------------------------------------------------------
Thumbs.db
desktop.ini
*.log
